html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ol,
ul,
li,
footer,
header,
menu,
nav {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    font-size: 14px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1220px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    margin-bottom: 10px;
}

.header__menu-list {
    padding: 25px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #dcdcdc;
    margin-bottom: 20px;
    border-radius: 10px;

}

.header__menu_item {
    font-size: 20px;
}

.header__menu_item:hover {
    color: rgb(74, 67, 67);
    transition: color .3s ease;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.header__wrapper-title {
    flex-grow: 1;
}

img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.header__title {
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.header__title-info {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.main__wrapper {
    display: flex;
    gap: 40px
}

.main__left {
    width: 426px;
}

.main__right {
    width: 774px;
}

.title-left {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.list-left,
.list-rigth {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacts,
.languages,
.soft-skills,
.hobbies,
.education,
.about-me,
.hard-skills,
.code-example {
    margin-bottom: 60px;
}

.contacts,
.languages,
.soft-skills,
.hobbies,
.education,
.about-me,
.hard-skills,
.code-example,
.my-projects {
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 15px;
    -webkit-box-shadow: -3px 2px 8px 3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -3px 2px 8px 3px rgba(34, 60, 80, 0.2);
    box-shadow: -3px 2px 8px 3px rgba(34, 60, 80, 0.2);
}

.title-right {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.about-me__text {
    font-size: 20px;
}

.my-projects__item:hover {
    color: rgb(74, 67, 67);
    transition: color .3s ease;
}